
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css); /*for arrow thing that affects dropdown*/
/*#f7cfec Dark Pink*/
/*#ffeaf9 Light Pink*/
/*228e0f yucky green*/
.navbar {
  overflow: hidden;
  background-color: #963d5a; /*#f7cfec;*/
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit; /* Mobile Button that has the dropdown */
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #963D5A; /*#f7cfec; /* Mobile Changes color when you click button that has dropdown */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #C98686; /*#ffeaf9;*/
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #C98686; /*#ffeaf9;*/
}

.dropdown:hover .dropdown-content {
  display: block;
}